@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background:url("waldemar-brandt-rhaS97NhnHg-unsplash.jpg") no-repeat;
    font-family: 'Roboto';
    font-size: 1.3rem;
    line-height: 1em;
    width: 100vw;
    height: 100vw;
}

.topo {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    background-color: blue;
    /* border: solid;
    border-color: black; */
    border-radius: 10px;
    color: white;
    box-shadow: 10px 8px 5px black;
}

.container {
    max-width: 640px;
    /* margin: 50px auto; */
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    position: relative;
    /* width: 940px; */
    margin: 0 auto;
    margin-top: 50px;
    
    
}

p {
    padding-top: 50px;
    font-size: 1.5rem;
}

.information {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    justify-content: space-between;
    align-items: left;
    font-size: 1.2rem;


}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

form input {

    font-size: 0.9rem;
    height: 50px;
    padding: 0 10px;
    margin-top: -15px;
    border-radius: 5px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border-radius: 5px;
    border: solid;
    border-color: black;
    background: white;
    color: red;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    cursor: pointer;
    transition: background ease .5s;
}

form button:hover {
    background: rgb(4, 4, 134);
}



.result{
    background: rgb(128, 236, 146);
    padding: 10px 20px ;
    text-align: center;
    background-color: rgba(14, 97, 17, 0.527);
  }

/* @media screen and (max-width: 480px){
    .container, .section{
        width: auto;
        margin: 20px;  
         
       
    }

    div.topo{
        width: auto;

        
    }

    p.paragrafo {
        font-size: 1.2rem;
        padding-top: 20px;
        text-align: center;
        
    }

    img {
        padding-left: 80px;
    }
} */